@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&family=Source+Sans+Pro:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior:smooth;
    scroll-padding-top: 9px;
}
::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    background-color: #ccc;
}
body{
    background-color: #111;
}
section{
    margin-top: 50px;
}

header{
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;
}
a{
   text-decoration: 0;
}
header .logo a{
    font-size: 25px;
    color:#2ea3f2;
}
header .logo a span{
    color: #fff;
}
header i{
    font-size: 15px;
    color: #fff;
    font-style: oblique;
}
/* menu css*/
.menu{
    display: flex;
    align-items: center;
}
.menu li{
    margin: 0 15px;
    list-style-type: none;
    font-weight: 700;
}
.menu li a{
    color: #fff;
    font-size: 15px;
}
ul.menu li:hover{
    /* color:#2ea3f2; */
    text-decoration: underline #2ea3f2 2px;
    }
    .menu li a:hover{
        /* color:#2ea3f2; */
    }
    .navbar li a:hover{
        color:#2ea3f2;
        text-decoration:0;
    }
    ul.menu li a.zaha{
        /* color: #2ea3f2; */
        text-decoration: underline #2ea3f2 2px;
    }
.reservation{
    color: #2ea3f2;
    font-size: 14px;
    border: 2px solid #2ea3f2;
    padding: 5px 20px;
    transition: 0.5s;
    font-weight: bolder;
}
.reservation:hover{
    background-color: #2ea3f2;
    color: #fff;
}
/* home Accueil css*/
#home{
  background:linear-gradient(rgba(0,0,0,0.1),#333),url(" ../images/paris1.jpg");  
  background-position: center;
  background-size: cover;
  height: calc(100vh );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#home h2{
    font-size: 45px;
    margin-bottom: 10px;
    -webkit-text-stroke: #fff 0.02px;
    color: transparent;
    text-transform:lowercase;
}
#home h4{
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
}
#home p{
    color: #fff;
    margin-bottom: 10px;
}
.home-btn{
    margin-bottom: 20px;
}
.mtz{
    background-color: #222;
    padding: 20px;
    width: 70%;
    position: absolute;
    bottom: -50px;
}
.mtz form{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.mtz form div, .mtz form input[type="submit"]{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.mtz form label{
 color: #999;
 font-size: 15px;
 margin-bottom: 10px;
}
.mtz form input{
padding: 5px 20px;
background-color: transparent;
border: 1px solid #2ea3f2;
outline: 0;
width: 100%;
font-size: 13px;
color: #fff;
}
.mtz form div, .mtz form input[type="submit"]{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #2ea3f2;
    cursor: pointer;
    transition: 0.5s;
}
.mtz form input[type="submit"]:hover{
    box-shadow: 0 0 10px #2ea3f2;
}
/* A propos css*/
#a-propos{
    margin-bottom: 50px;
    margin: 100px;
    padding: 0 10%;
    width: 100%;
}
#a-propos .gauche{
    margin-left: -20px;
}
.title{
    text-transform: capitalize;
    margin: 70px 0;
    font-weight: bold;
    color: #2ea3f2;
    position: relative;
    margin-left: 15px;
    font-size: 18px;
    margin-left: -80px;
}
.title::after{
    position: absolute;
    left: -15px;
    content: "";
    height: 100%;
    background-color: #fff;
    width: 5px;
}
.img-zo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.img-zo .gauche{
    position: relative;
    margin-left: 10px;
    height: 250px;
    width: 40%;
}
.img-zo .gauche video{
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 0 10px #2ea3f2;
    margin-left: -70px;
    margin-top: 5px;
}
.img-zo .gauche::after{
    position: absolute;
    bottom: -10px;
    right: 77px;
    content: "";
    height: 100%;
    background-color: #2ea3f2;
    width: 100%;
    z-index: -1;
}
.img-zo .droite{
    width: 57%;
}
.img-zo .droite h3{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.img-zo .droite p{
    color: #fff;
    font-size: 18px;
    font-family:serif;
    margin-bottom: 36px;
    font-style: italic;
}
.reservation{
    border-radius: 5px;
}
.img-zo .droite a{
    border: 1px solid #2ea3f2;
    color: #2ea3f2;
    font-size: 14px;
    padding: 8px 25px;
    font-weight: bold;
    border-radius: 5px;
}
.droite a:hover{
    background-color: #2ea3f2;
    color: #fff;
}
/* destinations populaires css*/
#destination{
    padding: 0 10%;
    margin-bottom: 50px;
}
#destination .content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
}
#destination h1{
    margin-left: 12px;
}
#destination .content .box{
    overflow: hidden;
    position: relative;
    height: 250px;
    transition: 0.5s;
    border-radius:10%;
}
#destination .content .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:10%;
}
#destination .dct{
    color: #fff;
    font-size: 19px;
    font-family:serif;
    margin-top: -5%;
    font-style: italic;
}
#destination  .content{
    margin-top: 1%;
}
.box .pays {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    text-align: center;
    align-items: center;
    transform: translatex(100%);
    transition: 0.5s;
    border-radius:10%;
}
.box .pays h4{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 60px;
}
.box .pays p{
    padding: 2px;
    font-size: 14px; 
}
.box .pays p:nth-child(3){ 
    margin-bottom:25px;
}
.box .pays a{
padding: 10px 60px;
border: 2px solid #2ea3f2;
color: #2ea3f2;
font-weight: bold;
}
.box:hover{
    box-shadow: 0 0 10px #2ea3f2;
}
.box:hover .pays{
    transform: translateX(0);
}
.pays{
    width: 100%;
    height: 100%;
}
.zo{
    margin-top: 20px;
}

/* contact css */
#contact{
    padding: 0 10%;
    margin-bottom: 50px;
    height: 90vh;
}
#contact h1{
    margin-left: 10px;
}
#contact form{
    background-color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#contact label{
    margin-left: -2%;
}
.mino{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mino .gauche , .mino .droite{
    display: flex;
    flex-direction: column;
    width: 49%;
}
#contact form label{
    font-size: 14px;
    padding: 10px;
    font-weight: 600;
}
#contact form input{
    padding: 8px;
    outline: 0;
    border: 1px solid #999;
}
textarea{
    height: 150px;
    resize: none;
    outline: 0;
    width: 100%;
    padding: 10px;
}
#contact form input:focus , textarea:focus{
    border: 1px solid #2ea3f2;
}
iframe{
    height: 150px;
    width: 100%;
}
#contact button{
    width: fit-content;
    padding: 8px 40px;
    background-color: #111;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
#contact button:hover{
    letter-spacing: 1px;
}
footer{
    width: 100%;
    background-color: #222;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    height: 300px;
}
footer p{
    color: #fff;
}
footer .lp{
    margin-top: 17%;
}
footer p span{
    color: #2ea3f2;
}
footer a{
    color: #fff;
}
footer .omzo{
 margin-top: -18%;  
 margin-left: -68%; 
}
footer #mtz{
    font-size: 27px;
    margin-top: -1.5%;
    margin-left: 1%;
}
footer #mtz i{
    font-size: 20px;
    margin-top: 2.5%;
}
footer .zizou{
    margin-left: -70%;
    margin-top: 1%;
}
footer .copyright{
   margin-left:-61.5% ;
   margin-top: 1%;
}
footer .milk{
    margin-top: -1%;  
    margin-left: 53%;
}
hr{
    width: 75%;
    margin-left:10%;
    align-content: center; 
    margin-top:-2.8%;
} 
footer .miya{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 2%;
}
footer .vl1{
    margin-top: -7.5%;
    margin-left: -35%;
    font-size: 15px;
}
footer .vl2{
    margin-top: -12%;
    margin-left:6%;
    font-size: 15px;
}
footer .vl3{
    margin-top: -14.5%;
    margin-left: 50%;
    font-size: 15px;
}
footer .leny{
    margin-top:3%;
}
.fa-twitter {
    color: #fff;
    background-color:  #2ea3f2;
    font-size: 27px;
    margin: 5px;
    margin-top: 1%;
}
.fa-twitter:hover{
    transform:perspective(100px) rotate3d(0, 0, 1, -5deg);
}
.fa-linkedin{
    color:#fff;
    background-color: #337ab7;
    font-size: 27px;
    margin: 5px;
    margin-top: 1%;
}
.fa-linkedin:hover{
    transform:perspective(100px) rotate3d(0, 0, 1, -5deg);
}
.fa-facebook{
    color:#fff;
    background-color:#337ab7;
    font-size: 27px;
    margin: 5px;
    margin-top: 1%;
}
.fa-facebook:hover{
 transform:perspective(100px) rotate3d(0, 0, 1, -5deg);
}
.fa-instagram{
    color:#fff;
    background-color: rgb(221, 40, 40);
    font-size: 27px;
    margin: 5px;
    margin-top: 1%;
}
.fa-instagram:hover{
    transform:perspective(100px) rotate3d(0, 0, 1, -5deg);
}
.icon i:hover{
    height: 30px;
    width: 30px;
}
/* Responsive */

    header.menu{
        display: none;
    }
    .reservation{
        display: none;
    }
/* Home responsive */
#home h2{
    font-size: 25px;
    -webkit-text-stroke: 0;
    color: #fff;
}
#home h4{
font-size: 28px;
}
#home p{
text-align: center;
font-size: 20px;
 font-family:serif; 
}

#home .mtz{
    width: 100%;
    height: 200px;
}
#home .mtz form{
    flex-wrap: wrap;
}
#home .mtz form div{
    margin-top: 10px;
    flex-direction: column;
    width: 47%;
}
.home-btn{
    display: block;
}
#home .mtz form input[type="submit"]{
width: 47%;
}
/* Responsive A propos */
.img-zo{
    flex-direction: column;
    width: 100%;
}
.img-zo .gauche , .img-zo .droite{
    width:100%; 
}
.img-zo .gauche video{
    width: 100%;
}
.img-zo .gauche::after{
    background-color: transparent;
}
.img-zo .gauche{
    margin-bottom: 25px;
}
/* Responsive menu */
.responsive-menu{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.responsive-menu::after{
    position: absolute;
    content: "";
    height: 3px;
    background-color: #2ea3f2;
    width: 28px;
    box-shadow: 0 10px 0 #2ea3f2;
    transform: translateY(-10px);
    transition: 0.5s;
}
.responsive-menu::before{
    position: absolute;
    content: "";
    height: 3px;
    background-color: #2ea3f2;
    width: 28px;
    transform: translateY(10px);
    transition: 0.5s;
}
.responsive-menu.active::after{
    transform: rotate(45deg);
    box-shadow: 0 0 0 #2ea3f2;
}
.responsive-menu.active::before{
    transform: rotate(-45deg);
}
header .menu.responsive{
    display: flex;
    position: absolute;
    top: 50px;
    right: 0;
    flex-direction: column;
    background-color: #222;
    align-items: unset;
    animation: animate-menu  forwards;
}
header .menu.responsive li {
    margin: 20px;
    width: 100px;
    padding-left: 20px;
}
@keyframes animate-menu{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(70%);
    }
}

/* suite.html */
.images{
   margin: 5px;
   height: 550px;
   width: 950px;
   box-shadow: 3px 3px 16px rgba(0,0,0, .7);
   overflow: hidden;
   margin-left: 20%; 
}
.images img{
    height: 50%;
    width: 70%;
    border-radius: 2%;
    margin-top: 3%;
}

h1.reserve{
    color: #fff;
    font-size: 30px;
    margin-top: 10%;-
}
.navbar .logo{
    font-size: 25px;
    color:#fff;
    margin-top: 1%;
    margin-left: 5%;
}
.navbar span{
    color: #2ea3f2;
}
.navbar{
    display: flex;
    background-color: #333;
    height: 47px;
}
.navbar .menu{
margin-left: 10%;
margin-top: 0.5%;
}
.navbar .menu li a{
   font-size:12px;
}

#formulaire label{
    color: #fff;
    font-size: 15px; 
}
#formulaire input{
    width: 10%;
    font-size: 40px;
}

#formulaire form input[type="submit"]{
    display: flex;
    flex-direction: column;
    width: 20%;
    color: black;
    background-color:#fff;
}
#formulaire form input{
    padding: 5px 20px;
    background-color:#fff;
    border: 1px solid #2ea3f2;
    outline: 0;
    width: 100%;
    font-size: 13px;
    color: black;
    } 
    #formulaire form{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 10%;
    }
    #formulaire form label{
        color: #333;
        font-size: 15px;
        margin-bottom: 10px;
       }
       #formulaire form input[type="submit"]:hover{
        box-shadow: 0 0 10px #2ea3f2;
    }
    #formulaire form input[value="rechercher"]{
        font-size: 25px;
        background-color:#2ea3f2;
        color: #fff;
        width: 100%;
    }
    
    #formulaire form input[placeholder="ville de départ"]{
        font-size:15px;
    }
    #formulaire form input[placeholder="ville d'arrivée"]{
        font-size:15px;
    }
    #formulaire form input[placeholder="Période"]{
        font-size:15px;
    }
    #formulaire form input[placeholder="Passager, Economique"]{
        font-size: 15px;
    }
       #formulaire form input{
        margin: 26.5%;
        height: 50px;
        margin-bottom: 1%;
        margin-left: -25%;
        border-radius: 10px;
        width: 250px;
       }
       #formulaire form label{
        font-size: 14px;
        color: #fff;
        margin-bottom: 5%;
        margin-left: 20%;
        margin-bottom: 10%;
       }
       #formulaire form{
        background-color: #333;
        width: 90%;
        height: 120px;
        border-radius: 10px;
        margin-left: 5%;
        margin-top: -7%;
       }
       #formulaire{
       margin-bottom: 5px;
       }
       #formulaire p{
        color: #fff;
        font-size: 15px;
        margin-bottom: 5.5%;
        margin-left: 10%;
       }

    .hugo{
        width: 85%;
        margin-left: 7.5%;
        height: 120px;
        border-radius: 10px;
    }
     #adams{
        margin-top: -8%;
     }
     .flex-box{
        display: flex;
        width: 90%;
       margin-left: 5%;
     }
     .box-1{
        background-color: #fff;
        width:40%;
        height: 180px;
        margin: 5px;
     }
     .box-2{
        background-color: #fff;
        width:40%;
        height: 180px;
        margin: 5px;
     }
     .box-3{
        background-color: #fff;
        width:40%;
        height: 180px;
        margin: 5px;
     }
     .box-4{
        background-color: #fff;
        width:40%;
        height: 180px;
        margin: 5px;
     }

     .flex-box img{
        margin-left: 3%;
        margin-top: 5%;
     }
     .flex-box .box h2{
        color: black;
        font-size: 18px;
        margin-left: 3%;
        margin-top: 5%;
     }
     .flex-box p{
        margin-top: 2%;
        margin-left: 3%;
        font-size: 12px;
     }
     .box{
        border-radius: 10px;
        height: 200px;
     }
    
     .luno{
        margin-top: -8%;
     }
     .leny{
        margin-left: 3%;
     }
     .leny .mya{
        margin:12px;
     }
     .leny .mya p{
        color: #fff;
        margin-top: -7%;
        margin-left: 1%;
        font-size: 18px;
        font-family: cursive;
     }
     .leny .mya img{
        width: 400px;
        height: 180px;
        border-radius: 10px;
     }
     .leny{
        margin-top:-2%;
     }
     .tima{
        margin-top: -2%;
        font-size: 22px;
        color: #111;
        margin-left: -2.5%;
     }
     .aly{
        margin-top: 2%;
     }
     .aly{
    display:flex;
     }
     .hugo{
        margin-top: 2%;
     }
     .léo {
        margin-top:5%;
     }
     .titre{
        background-color: #67c2ff;
        height: 130px;
        margin-top: -0.5%;
     }
     .titre h1{
        color: #fff;
        font-size: 25px;
        margin-left: 5%;
     }
     .titre h1:hover{
        color: #111;
     }
    
     .hugo{
        margin-top: 7%;
        background-color: #bcc4c9;
     }
     .hugo:hover{
        box-shadow: 0 0 10px #2ea3f2;
     }

    #images{
        margin-left: 15%;
        width: 100%;
    }
    .box p{
        font-size: 13px;
    }
    
    .flex-box .box img{
        margin-top: 8%;
    }
    
    .aly p:hover{
        color:#2ea3f2;
    }
    .fa-plane{
        font-size: 16px;
    } 
    .mya img:hover{
       box-shadow:  0 0 10px #2ea3f2;
    }
    .box:hover{
        box-shadow:  0 0 10px #2ea3f2;  
    }
    .box img{
        height:35px;
        width: 35px;
    }
    .box img:hover{
        height:35px;
        width: 40px;
    }
    .gauche video{
        border-radius: 10px;
    }
    .gauche video:hover{
        background: #0c0c0c url("../images/.jpg"); 
    }
    .logo .fa-plane{
        transform: rotate(-15deg);
        font-size: 20px;
    }
    footer .fa-plane{
        transform: rotate(-15deg);
        font-size: 20px;
    }
     .pays .zo a{
        border-radius: 5px;
        font-size: 12px;
    }
    .pays .zo a:hover{
        color: #fff;
        background-color: #2ea3f2;
    }
    #images img{
        height: 220px;
        width: 500px;
        margin-left: -18%;
    }
    #images .aly{
        margin-top: 3%;
    }
    #images .aly p{
        margin-left: -15%;
    }
    .hugo:hover{
        background-color: #fff;
    }
    #home h4{
        position: static;
    }
    .zoro{
        margin-top: 4%;
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 5%;
        margin-left: 30%;
    }
    .zoro li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 0 5%;
        margin: -2%;
    }
    .zoro i{
        font-size: 20px;
    }
    .zoro a{
        color: #beb7b7;
    }
    .zoro a:hover{
        color: #2ea3f2;
    }
    .fa-plane-departure{
        margin-left: -1px;
    
    }
    .fa-hotel{
        margin-left: 4px;
    }
    .fa-train{
        margin-left: 4px;

    }
    .fa-car{
        margin-left: 7px;
    }
    .fa-route{
        margin-left: 9px;
    }

    #home:hover{
        background:linear-gradient(rgba(0,0,0,0.1),#333),url(" ../images/air.jpg");  
        background-position: center;
        background-size: cover;
        height: calc(100vh );
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
      }
  
    


   
    
  
